<?xml version="1.0"?>

<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find afrp3)/map/carla_map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  
  <!-- Carla ROS Bridge -->
  <include file="$(find afrp3)/launch/carla_ros_bridge.launch"/>
  
  <!-- Pointcloud to LaserScan -->
  <include file="$(find afrp3)/launch/carla_pointcloud_to_laserscan.launch"/>
  
  <!-- Carla Twist to Control -->
  <include file="$(find carla_twist_to_control)/launch/carla_twist_to_control.launch"/>
  
  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find afrp3)/launch/carla_amcl.launch"/>

  <!-- move_base -->
  <include file="$(find afrp3)/launch/carla_move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
  
  <!-- RQT Gui -->
  <node pkg="rqt_reconfigure" name="rqt_reconfigure" type="rqt_reconfigure"/>

  <!-- RVIZ -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find afrp3)/rviz/carla_navigation.rviz"/>
  </group>
</launch>
